body{
    margin: 0px;
    padding: 0px;
}
.container1{
    margin: 50px 50px;
    padding:150px;
}
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}
input[type="text"] {
    padding: 10px;
    width: 300px;
}
button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: aliceblue;
    border-radius: 5px;
}

button:hover {
    background-color: #b9bec2;
}
